<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/src/styles/exchange.css">
    <link rel="stylesheet" href="/public/src/styles/nav_bar.css">
    <link rel="stylesheet" href="/public/src/styles/global.css">
    <link rel="stylesheet" href="/public/src/styles/footer.css">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"> -->
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <div class="slide-bar">
            <div class="top">
                <div class="logo">
                    <img src="/public/src/images/Logo.png" alt="this is logo" width="64px" height="64px">
                    <span>Code Camp Academic</span>
                </div>
            </div>
            <ul>
                <li>
                    <a href="/public/index.html">
                        <i class="bi bi-house-door"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/public/views/about_us.html">
                        <i class="bi bi-people-fill"></i>
                        <span>About Us</span>
                    </a>
                </li>
                <li>
                    <a href="/public/views/exchange.html">
                        <i class="bi bi-currency-exchange"></i>
                        <span>Exchange</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h1 id="title">World Currencies Exchange</h1>
            <br>
            <form class="form-container">
                <div class="currencies-container">
                    <div>
                        <h2 for="">Current Currencies</h2>
                        <input type="text" id="current-currencies-input">
                    </div>
                    <div>
                        <h2 for="">Amount</h2>
                        <input type="text" id="amount-input">
                    </div>
                </div>
                <div class="change-currencies">
                    <h2 for="">Change Currencies</h2>
                    <input type="text" id="change-currencies-input">
                </div>
            </form>
            <div>
                <h3 id="display-exchange"></h3>
            </div>
            <br>
            <button id="submit-btn">Submit</button>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="media">
                <h2 id="contact-us">Contact Us</h2>
                <div class="options">
                    <ul>
                        <li>
                            <a href="" id="instagram-icon">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" id="facebook-icon">
                                <i class="bi bi-facebook" ></i>
                            </a>
                        </li>
                        <li>
                            <a href="" id="twiiter-icon">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" id="github-icon">
                                <i class="bi bi-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="subscribe-us">
                <h2 id="subscribe-us">Subscribe Our</h2>
                <input type="text" placeholder="Enter your email here" id="email-txt">
                <br>
                <button type="submit" id="sub-btn-email">Subscribe</button>
            </div>
            <div class="useful-links">
                <h2 id="useful-links-title">Useful Links</h2>
                <div class="options">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Exchange</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT -->
    <script type="module" defer src="/public/app.js"></script>
    <script type="module" defer src="/public/src/js/components/Slide-bar.js"></script>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>